#index-page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 150px auto 200px;
    overflow: hidden;
}

.server-list-div {
    position: fixed;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 100%;
    width: 100px;
    overflow-y: scroll;
    background-color: #1e2024;
}

.server-list{
    background-color: #1e2024;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
}

.home-server {
    padding-top:15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #36393f;
    margin-bottom:10px;
}
#selected-server {
    border-radius: 15px;
    background-color:#7387D7;
}
.server-li-ele:hover{
    border-radius: 15px;
    background-color:#7387D7;
}

.server-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:70px;
    height: 70px;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 80px;
    background-color: #36393f;
    margin-bottom: 5px;
    overflow:hidden;
    position: relative;
    margin: 5px;
    transition: all .25s;
}

.fa-plus {
    font-size:36px;
}

.room-list {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    max-width: 150px;
    border-right:1px solid #000000;
    border-left:1px solid #000000;
}

.chat-page {
    grid-column-start: 3;
    grid-column-end: 5;
    border-right:1px solid #000000;
    background-color:#303338;
    position: relative;
    width:100%;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.messages {
    padding: 20px;
    overflow-y:scroll;
    height: calc(100% - 180px);
}

.chat-nav {
    display: flex;
    height: 50px;
    align-items: center;
    // margin-left:25px;
    font-size: 20px;
    border-bottom: 1px solid #282a2e;
}

.chat-nav > span {
    margin-left:25px;
}

.chat-nav-title {
    color: #FFFEFD;
    margin-left: 5px;
}

.message-name {
    color:#FFFEFD;
    padding-right:5px;
    padding-bottom: 5px;
    margin-left: 60px;
}



#bottom-message {
    visibility: hidden;
}


.message-body {
    margin-left: 55px;
    min-height: 40px;
}

.message-body li {
    margin:5px;

    color: #FFFEFD;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.message-group {
    position: relative;
    margin: 5px;
}

.profile-picture {
    height: 40px;
    width: 40px;
    // border: 1px solid #000000;
    overflow:hidden;
    border-radius: 30px;
    position: absolute;
    top:10px;
    left:2.5px;
}

.datetime {
    font-size:10px;
    color: #585b60;
}

.messages > li {
    border-bottom: 1px solid #585b60;
    padding: 5px;
}


.message-box{
    display: flex;
    justify-content: center;
    max-width:100%;
    height: 90px;
    align-items: center;
}

#message-input{
    font-size: 16px;
    border: 1px solid #25252A;
    background-color:#484b52;
    border-radius:5px;
    color: #FDFDFD;
    padding: 10px 15px;
    width:95%;
    outline: none;
}


#message-submit {
    display:none;
}


#message-text-area {
    font-size: 16px;
    min-height: 20px;
    border: 1px solid #25252A;
    background-color:#484b52;
    border-radius:5px;
    color: #FDFDFD;
    padding: 10px 15px;
    width: 95%;
    max-width:95%;
    outline: none;
    resize: none;
    overflow: hidden;

}