#index-page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 150px auto 200px;
}

.server-list {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #1e2024;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
}

.home-server {
    padding-top:15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #36393f;
    margin-bottom:10px;
}

.server-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50px;
    padding:30px 15px;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #36393f;
    margin-bottom: 5px;
}

.room-list {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    max-width: 150px;
    border-right:1px solid #000000;
    border-left:1px solid #000000;
}

.chat-page {
    grid-column-start: 3;
    grid-column-end: 5;
    border-right:1px solid #000000;
    background-color:#303338;
    position: relative;
    width:100%;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.messages {
    padding: 20px;
    overflow-y:scroll;
    height: calc(100% - 130px);
}

.chat-nav {
    display: flex;
    height: 50px;
    align-items: center;
    margin-left:25px;
    font-size: 24px;
}

.chat-nav-title {
    color: #FFFEFD;
    margin-left: 5px;
    font-weight: bold;
}

.message-name {
    color:#FFFEFD;
    padding-right:5px;
    padding-bottom: 5px;
    margin-left: 60px;
}


.message-box{
    display: flex;
    justify-content: center;
    width:100%;
}

.message-box input{
    font-size: 16px;
    background-color:#1e2024;
    border: 1px solid #25252A;
    border-radius:5px;
    color: #FDFDFD;
    padding: 10px 15px;
    width:99%;
}


#message-submit {
    display:none;
}

#bottom-message {
    visibility: hidden;
}


.message-body {
    margin-left: 55px;
    min-height: 50px;
}

.message-body li {
    margin:5px;

    color: #AAAEB6;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.message-group {
    position: relative;
    margin: 5px;
}

.profile-picture {
    height: 40px;
    width: 40px;
    // border: 1px solid #000000;
    overflow:hidden;
    border-radius: 30px;
    position: absolute;
    top:10px;
    left:2.5px;
}

.datetime {
    font-size:10px;
    color: #585b60;
}

.messages > li {
    border-bottom: 1px solid #585b60;
    padding: 5px;
}

