.room-list {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    max-width: 150px;
    border-right:1px solid #000000;
    border-left:1px solid #000000;
    background-color: #2f3036;
}