.room-list {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    max-width: 240px;
    border-right:1px solid #282a2e;
    border-left:1px solid #282a2e;
    background-color: #2f3036;
    position: relative;
    height: 100%;
}

#roomNav{
    width: 240px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid #282a2e;
    margin-bottom: 16px;
}

#roomNav span {
    margin-left: 16px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #FFFFFF;
}

#roomNav i {
    margin-right:16px;
}

#textChannels {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#textChannels > i {
    font-size:16px;
    margin-right:16px;
}

#textChannels {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
#textChannels  .fa-angle-down {
    font-size:10px;
    margin: 0px 5px;
}

#room-list-middle{
    max-height: 100%;
    height: 100%;
    background-color: #2f3136;
    overflow-y: scroll;
}

#room-list-show-ul{
    width: 240px;
    height:100%;
    overflow-y: scroll;
}

#room-list-show-ul li{
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    align-items: center;
    width: 210px;
    box-sizing: border-box;
    height: 32px;
};

#room-list-show-ul li div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    height: 32px;
}


.noneSelected {
    cursor: pointer;
}

#roomBottom{
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(32,34,37,.3);
    height: 52px;
    width: 240px;
}

#roomProfilePic{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    left:10px;
}



#roomBottom ul {
    margin-left:30px;
}

#profile-name{
    color:#FFFFFF;
    font-size: 14px;
}

#hashNum{
    display: block;
    margin-top: 4px;
    opacity: .4;
    font-size: 10px;
}

#logoutDoor {
    position: absolute;
    left: 200px;
    cursor: pointer;
}

.newRoomPlus{
    cursor: pointer;
}

#selectedRoomLi{
    color:#FFFFFF;
    background-color: #40444b;
    cursor: default;
    border-radius: 5px;
}

#selectedRoomLi > div {
    overflow: hidden;
}


#selectedRoomLi > i {
    color: #A8A8AA;
}

#room-list-show-ul li .fa-hashtag{
    margin-left: 10px;
    margin-right: 6px;
}

#room-list-show-ul li .fa-user-plus {
    cursor: pointer;
}

.noneSelected .fa-user-plus{
    display:none;
}

.noneSelected:hover > .fa-user-plus {
    display: block;
}

.noneSelected:hover > div {
    overflow: hidden;
    color:#FFFFFF;
}

.noneSelected:hover {
    background-color: #2a282e;
    border-radius: 5px;
}

// .fas{
//     position: relative;
// }

// .fa-user-plus > div {
//     display: none;
//     position: absolute;
// }

// .fa-user-plus:hover > div {
//     position: absolute;
//     font-size: 10px;
//     left:0px;
// }

.fa-plus:hover + #newRoomBlurb {
    display: block;
    position: absolute;
    z-index: 5;
    left: 125px;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    background-color: #000000;
    color: #ffffff;
    top: 32px;
    text-transform: capitalize;
}

#newRoomBlurb {
    display: none;
}


#logoutDoor {
    position: relative;
}

#logoutDoor:hover > #roomLogout {
    display: block;
    position: absolute;
    left: -20px;
    top: -25px;
    font-size: 10px;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

#roomLogout {
    display: none;
}

#closedRoomDropDown{
    display: none;
}

#openRoomDropDown{
    position: absolute;
    background-color: #272a2f;
    top: 45px;
    left: 60px;
    display: flex;
    flex-direction: column;
}

.dropDownRow{
    display: flex;
    flex-direction: row;
    width: 140px;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
}

.dropDownRow > .fas {
    font-size: 14px;
    margin: 0px 10px;
}

#carotOrX {
    cursor: pointer;
}

.dropDownRow:hover {
    background-color: #24272c;
}
.dropDownRow:hover > div {
    color: #ffffff;
}

#inviteLinkRow {
    color: #7289da;
}

#inviteLinkRow:hover > div {
    color: #6475ba;
}