/***************************
    SPLASH EXTRA INFO COMPONENT
***************************/

.splash-extra-info {
    grid-row-start: 4;
    grid-row-end: 5;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.splash-extra-info i{
    font-size: 30px;
}

.splash-extra-info div {
    display:flex;
    flex-direction: column;
    margin: 0 20px 0px 20px;
}

.splash-extra-info h3 {
    color:#FDFDFD;
    margin: 20px 0px;
}

.splash-extra-info span {
    margin: 3px 0px;
}

.splash-extra-info span:hover {
    color: #FDFDFD;
}

@media screen and (max-width: 800px) {
  #root {
    .splash-extra-info{
        display:flex;
        flex-wrap: wrap;
        text-align:center;
    }
    .splash-extra-info div {
        width:40%;
    }
  }
}



/***************************
    SPLASH FOOTER COMPONENT
***************************/

.splash-footer{
    grid-row-start: 5;
    grid-row-end: 6;
    display:flex;
    flex-direction: row;
    justify-content: center;
}


.splash-footer > span{
    padding-top:50px;
    border-top: 1px solid #2c2f33;
    display:flex;
    flex-direction: row;
    margin-top: 50px;
}

.splash-footer > span div {
    margin: 0px 70px;
    text-align: center;
}

.signupButton {
    display:block;
    margin:10px;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: #7386DA;
    color:#F6F7FD;
}


.signupButton:hover{
    position: relative;
    top: 1px;
}

.footer-text{
    width: 500px;
}

.footer-text h1 {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 5px;
}

@media screen and (max-width: 953px) {
  #root {
    .splash-footer > span{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .signupdiv{
        margin-top: 40px;
        width: 200px;
        text-align: center;
    }
    .signupButton {
        background-color: #FFFFFF;
        color: #7486DA;
    }
  }
}
